.footer {
  &__title {
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--text-white);
    @media (min-width: 1024px) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__inner {
    border-top: 1px solid var(--link-border);
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 25px;
    @media (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 12px;
    @media (min-width: 1024px) {
      flex-direction: row;
    }
  }

  &__link {
    font-weight: 300;
    width: 210px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid var(--link-border);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: var(--text-white);
    & path {
      fill: var(--text-white);
    }
  }
}