.App {
  width: 100%;
  min-height: 100vh;
}

.title {
  color: var(--text-white);
  margin-bottom: 24px;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  @media (min-width: 1024px) {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 51px;
  }
}

.container {
  box-sizing: content-box;
  padding: 25px;
  max-width: 1080px;
  margin: 0 auto;
  @media (min-width: 1130px) {
    padding: 25px 0;
  }
}

.top {
  background: var(--secondary);
  color: var(--text-white);
  font-weight: 300;

  &__text {
    font-size: 14px;
    line-height: 18px;
    @media (min-width: 1024px) {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__gradient {
    margin: 14px 0;
    font-size: 36px;
    line-height: 48px;
    font-weight: 500;
    background: linear-gradient(90deg, #9845E8 -2%, #33D2FF 54%, #DD5789 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    @media (min-width: 1024px) {
      margin: 26px 0;
      font-size: 96px;
      line-height: 110px;
    }
  }

  &__links {
    max-width: 1080px;
    margin: 50px auto 0;
    padding: 25px;
    overflow: auto;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__link {
    width: 200px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 300;
    border-radius: 4px;
    border: 2px solid transparent;

    &--email {
      background: linear-gradient(0deg, var(--secondary) 0%, var(--secondary) 100%),
      linear-gradient(51.06deg, #9358F7 0.87%, #9259F7 7.31%, #8E5DF6 13.75%, #8862F5 20.19%, #806BF4 26.63%, #7575F2 33.07%, #6882F0 39.51%, #5990EE 45.95%, #4A9FEB 52.39%, #3BADE9 58.84%, #2EBAE7 65.28%, #23C4E5 71.72%, #1BCDE4 78.16%, #15D2E3 84.6%, #11D6E2 91.04%, #10D7E2 97.48%);
    }

    &--telegram {
      background: linear-gradient(0deg, var(--secondary) 0%, var(--secondary) 100%),
      linear-gradient(135deg, #6964DE 2.88%, #FCA6E9 100%);
    }

    &--github {
      background: linear-gradient(0deg, var(--secondary) 0%, var(--secondary) 100%),
      linear-gradient(132.33deg, #D24074 -0.67%, #6518B4 102.54%);
    }

    &--email, &--telegram, &--github {
      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box;
    }
  }
}

.projectsList {
  display: flex;
  flex-direction: column;
  gap: 32px;
  @media (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.experience {
  padding: 25px 0;
  @media (min-width: 1024px) {
    max-width: 1130px;
    margin: 0 auto;
  }

  & .title, & .tabs__buttonsList, & .tab__content {
    padding: 0 25px;
  }
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--text-white);
  @media (min-width: 1024px) {
    flex-direction: row;
    gap: 88px;
  }

  &__buttonsList {
    display: flex;
    align-items: center;
    overflow: auto;
    @media (min-width: 1024px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

.tab {
  font-weight: 300;

  &__top, &__list, &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__content {
    @media (min-width: 1024px) {
      width: calc(100% - 331px);
    }
  }

  &__top {
    @media (min-width: 1024px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__button {
    width: 193px;
    height: 55px;
    padding: 0 12px 0 36px;
    border-bottom: 2px solid var(--tab-border);
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
    @media (min-width: 1024px) {
      border-left: 2px solid var(--tab-border);
      border-bottom: 0;
    }

    &.active {
      background: var(--tab-border);
      border-bottom: 2px solid var(--text-white);
      @media (min-width: 1024px) {
        border-left: 2px solid var(--text-white);
        border-bottom: 0;
      }
    }
  }

  &__position {
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    @media (min-width: 1024px) {
      font-size: 24px;
      line-height: 29px;
    }
  }

  &__period {
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    color: var(--text-gray);
    @media (min-width: 1024px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__location {
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    color: var(--text-blue);
    @media (min-width: 1024px) {
      font-size: 14px;
      line-height: 24px;
    }
  }

  &__item {
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    color: var(--text-gray);
    @media (min-width: 1024px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
}