@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap');

:root {
    --main: #000000;
    --secondary: #1A1A1A;
    --text-white: #F0F0F0;
    --text-gray: #C4C4C4;
    --text-blue: #6CACE4;
    --link-border: #C6C6C6;
    --tab-border: #1F1E1E;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: var(--main);
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--main);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--text-white);    /* color of the scroll thumb */
    border-radius: 5px;       /* roundness of the scroll thumb */
    border: 3px solid var(--main);  /* creates padding around scroll thumb */
}